.task-form-container {
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 20px;
  }
  
  .task-form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .form-actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    
    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      
      input {
        margin-right: 8px;
      }
    }
  }